{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incio</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" >
</head>
<body>
    <header>
        <div class="header-contenido">
            <div class="header-img">
                <div class="header-imagen">
                    <img src="../static/images/mundo1.png" alt="logo">
                </div>
                <h1 class="header-heading">Lenguaje de programación</h1>   
            </div>

            <div class="header-navegacion">
                <nav>
                    <ul>
                        <li><a href="/paises">PAISES</a></li>
                        <li><a href="/registrarpaises">REGISTRAR PAISES</a></li>
                        <li><a href="/editoriales">EDITORIALES</a></li>
                        <li><a href="/registrareditoriales">REGISTRAR EDITORIALES</a></li>
                    </ul>
                </nav>  
            </div>
            
        </div>
    </header>
    <div id="content" class="content">
        {% block content %}

        {% endblock %}
    </div>
    
</body>
</html>